body{
  background-image: url(images/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;

  
}
button{
  background-color:lightgray;
}
button:hover{
  background-color:gray
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
padding-top:12px;
padding-left:93px;

}

#turnip{
padding-left:489px;
padding-top:188px;
}

#grass{
padding-left:47px;
padding-top:188px;
}

#L{
padding-left:292px;
padding-top:1348px;
}

#T{
padding-left:96px;
padding-top:1450px;
}

#I{
padding-top:1349px;
padding-left:296px;
  
}